@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */

.grid-container {
  margin: 0 auto;
  display: grid; /* 🟢 Cambiamos de flex a grid */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adaptativo */
  gap: 20px;
  justify-items: center;
}

.grid-item {
  width: 100%;
  max-width: 230px;
  margin: 10px;
  border-radius: 15px;
  cursor: zoom-in;
  background-color: rgb(243, 238, 219);
  transition: transform 0.2s ease, filter 0.3s ease;
  filter: grayscale(100%);
}

/* Hover efecto solo para computadoras */
@media (hover: hover) {
  .grid-item:hover {
    opacity: 0.9;
    transform: scale(1.02);
    filter: grayscale(0%);
  }
}


/* From Uiverse.io by eslam-hany */ 
.book {
  position: relative;
  border-radius: 10px;
  width: 320px;
  height: 400px;
  background-image: url('/img/paginalibro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: transform 0.5s;
}

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transform-origin: 0;
  transition: all 0.5s;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/tapalibro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.book:hover .cover,
.book.open .cover {
  transform: rotateY(-80deg);
}

.book p {
  font-size: 20px;
  font-weight: bold;
}
